
body{
	text-align: center;
	background: linear-gradient(blue,teal,blue);

}
#button{
	background-color: aqua;
	color: grey;
	width: 200px;
	height:50px;
	font-size: 35px;
	border-radius: 50px;

}
#button:hover{
	width: 250px;
	height:100px;
}
#SubmissionBox{
	width:300px;
	height: 50px;
    background: white; 
    border: 1px solid #ffa853; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #ffa853; 
    color: #100; 
    outline: none; 
	font-size: 40px;
	border-radius: 80px;
	padding-left: 10px;
	padding-right: 10px;
}
img{
	height:150px;
	width:100px;
	border-radius: 5%;

}

div#wrapper{
background: linear-gradient(teal,blue);
height:1000px;
margin:-50px;
}


.ASLImages{
	float: left;
	margin-top: 100px;
}

#images{
	display: inline-block;
	margin-right: 50px;
	margin-left: 50px;
}

#images{
	display: inline-block;
}

#h1{
	margin-top: 50px;
}

.Titles{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#button{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#credits{
	background: linear-gradient(gray,white);
	height: 35px;
	color: black;
	text-align: center;
	margin-top: 1px;
}
#credits2{
	margin-top: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
}

#credits2:hover{
	font-size: 50px;
}
#credits:hover{
	 height: 65px;
}
.easter{
	height: 300px;
	width: 300px;
	border-radius: 100%;
}
.easter:hover{
	height: 1000px;
	width: 1000px;
	z-index: 1;
}
