
body{
	text-align: center;
	background-color: teal
}
#button{
	background-color: aqua;
	color: grey;
	width:150px;
	height:50px;
	font-size: 35px;
	border-radius: 50px;

}
#SubmissionBox{
	width:300px;
	height: 50px;
    background: white; 
    border: 1px solid #ffa853; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #ffa853; 
    color: #666; 
    outline: none; 
	font-size: 40px;
	border-radius: 80px;
}
img{
	height:150px;
	width:100px;
	border-radius: 5%;

}

.ASLImages{
	float: left;
}

#h1{
	margin-top: 50px;
}

.Titles{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#button{
	font-family: "Comic Sans MS", cursive, sans-serif;
}