
body{
	text-align: center;
	background-color: teal
}
#button{
	background-color: aqua;
	color: grey;
	width:150px;
	height:50px;
	font-size: 35px;
	border-radius: 50px;

}
#SubmissionBox{
	width:300px;
	height: 50px;
	font-size: 40px;
	border-radius: 80px;
}
img{
	height:150px;
	width:100px;

}

.ASLImages{
	float: left;
}